[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-executable;
Actions=runInKmux;
X-KDE-AuthorizeAction=shell_access

[Desktop Action runInKmux]
TryExec=kmux
Exec=kmux --hold -e %f
Icon=utilities-terminal

Name=Run In kmux
Name[ar]=شغل في كونسول
Name[az]=kmux-də başlatmaq
Name[be]=Запусціць у kmux
Name[be@latin]=Zapuscić u kmux
Name[bg]=Изпълняване в kmux
Name[ca]=Executa en el kmux
Name[ca@valencia]=Executa en kmux
Name[cs]=Spustit v Konsoli
Name[da]=Kør i kmux
Name[de]=In kmux ausführen
Name[el]=Εκτέλεση στο kmux
Name[en_GB]=Run In kmux
Name[eo]=Ruli en Konzolo
Name[es]=Ejecutar en kmux
Name[et]=Käivita Konsoolis
Name[eu]=Exekutatu kmux-n
Name[fa]=اجرا در کنسول
Name[fi]=Suorita kmuxssa
Name[fr]=Lancer dans kmux
Name[ga]=Rith i kmux
Name[gl]=Executar en kmux
Name[he]=הפעלה ב־kmux
Name[hu]=Futtatás a kmux programban
Name[ia]=Executa in kmux
Name[id]=Jalankan Di kmux
Name[is]=Keyra í kmux
Name[it]=Esegui in kmux
Name[ja]=kmux で実行
Name[ka]=kmux-ში გაშვება
Name[ko]=kmux에서 실행
Name[lt]=Paleisti konsolėje
Name[lv]=Palaist ar „kmux“
Name[nb]=Kjør i kmux
Name[nds]=Binnen kmux lopen
Name[nl]=In kmux uitvoeren
Name[nn]=Køyr i konsoll
Name[pa]=ਕਨਸੋਲ ਵਿੱਚ ਚਲਾਓ
Name[pl]=Uruchom w Konsoli
Name[pt]=Executar no kmux
Name[pt_BR]=Executar no kmux
Name[ro]=Rulează în Konsolă
Name[ru]=Запустить в kmux
Name[sa]=Run In Console इति
Name[sk]=Spustiť v kmux
Name[sl]=Zaženi v kmux
Name[sr]=Изврши у Конзоли
Name[sr@ijekavian]=Изврши у Конзоли
Name[sr@ijekavianlatin]=Izvrši u Konsoli
Name[sr@latin]=Izvrši u Konsoli
Name[sv]=Kör i Terminal
Name[ta]=கான்சோலில் இயக்கு
Name[th]=เรียกใช้ใน kmux
Name[tr]=kmux’da Çalıştır
Name[uk]=Запустити у kmux
Name[zh_CN]=在 kmux 中运行
Name[zh_TW]=在 kmux 中執行

Comment=Run within kmux
Comment[ar]=شغل في كونسول
Comment[az]=Əmri kmux-də icra etmək
Comment[be]=Запусціць з дапамогай kmux
Comment[be@latin]=Zapuscić z dapamohaj kmux
Comment[bg]=Изпълняване в kmux
Comment[ca]=Executa al kmux
Comment[ca@valencia]=Executa en kmux
Comment[cs]=Spustit v Konsoli
Comment[da]=Kør i kmux
Comment[de]=In kmux ausführen
Comment[el]=Εκτέλεση από την Κονσόλα
Comment[en_GB]=Run within kmux
Comment[eo]=Ruli ene de Konzolo
Comment[es]=Ejecutar en kmux
Comment[et]=Konsoolis käivitamine
Comment[eu]=Exekutatu kmux barruan
Comment[fa]=اجرا داخل کنسول
Comment[fi]=Suorita kmuxssa
Comment[fr]=Exécuter dans kmux
Comment[ga]=Rith laistigh de kmux
Comment[gl]=Executar dentro de kmux.
Comment[he]=הפעלה בתוך kmux
Comment[hu]=Futtatás a kmux-ban
Comment[ia]=Executa intra kmux
Comment[id]=Jalankan dalam kmux
Comment[is]=Keyra innan í kmux
Comment[it]=Esegui in kmux
Comment[ja]=kmux 内で実行
Comment[ka]=kmux-ის შიგნით გაშვება
Comment[ko]=kmux에서 실행
Comment[lv]=Palaist ar „kmux“
Comment[nb]=Kjør inne i kmux
Comment[nl]=In kmux uitvoeren
Comment[nn]=Køyr inni konsoll
Comment[pa]=ਕਨਸੋਲ ਵਿੱਚ ਚਲਾਓ
Comment[pl]=Uruchamia przy pomocy Konsoli
Comment[pt]=Executar no kmux
Comment[pt_BR]=Executar no kmux
Comment[ro]=Rulează în cadrul kmuxi
Comment[ru]=Выполнить команду в kmux
Comment[sa]=kmux इत्यस्य अन्तः चालयन्तु
Comment[sk]=Spustiť v kmux
Comment[sl]=Zaženi znotraj kmux
Comment[sr]=Изврши у Конзоли
Comment[sr@ijekavian]=Изврши у Конзоли
Comment[sr@ijekavianlatin]=Izvrši u Konsoli
Comment[sr@latin]=Izvrši u Konsoli
Comment[sv]=Kör i Terminal
Comment[ta]=கான்சோலுக்குள் இயக்கு
Comment[tr]=Konsol İçinde Çalıştır
Comment[uk]=Запустити у kmux
Comment[zh_CN]=在 kmux 中运行
Comment[zh_TW]=在 kmux 中執行
